html{
    width: 100vw;
}
.padding-button{
    padding: 10px 25px 10px 25px
}
.about_us_heading {
    font-family: "Bebas Neue", Sans-serif;
    font-size: 125px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.top-220{
    top: 220%
}
.about-sec-1 {
    height: 100vh;
}

.about-sec-2 {
    height: auto;
}

.padding-top-255px{
    padding-top: 225px;
    padding-bottom: 25px;
}

.text-80 {
    font-family: "League Gothic", Sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.text-17 {
    font-size: 18px;
}

.font-fm-Manrope {
    font-family: 'Manrope' !important;
}

.margin-custom{
    margin-top: 20%;
}
.custom-card{
    margin-top: 15%;
    width: 65rem;
    z-index: 999;
}
.text-182{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 182px;
    line-height: 0.9em;
    color: #FFFFFF;
}

.sec-3-about{
    background: #191919;
    z-index: 999;
    height: 160vh;
    display: flex;
    align-items: center;
}
.custom-width-sec2{
    height: 30vh;
}
.about-card-sec3{
    background-color: #0000001A !important;
    border: 0;
    margin: 01px 0px 10px 0px;
}


.typewriter {
    font-weight: bold;
    color: #333;
    border-right: 2px solid #333; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
}

.text_100{
    font-size: 100px;
font-family: "League Gothic", serif !important;
font-weight: 500;
}

.text-40{
    font-family: "League Gothic", serif !important;
    font-size: 40px;
}
.text_90{
    font-family: "League Gothic", Sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 0.7em;
}
.my-row{
    margin-top: 10%;
}
.input::placeholder{
    color: #fff;
}

#our_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.text-18{
    font-size: 18px;
}
.cust-padding{
    padding: 90px 50px 90px 50px;
}
footer{
    width: 100vw;
}

@media (min-width: 320px) and (max-width: 360px){
    .custom-card{
        width: 19rem;
    }
    .text-80{
        font-size: 35px;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px;
    }
}


@media (min-width: 340px) and (max-width: 365px){
    .custom-card{
        width: 19rem;
    }
    .text-80{
        font-size: 35px;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px;
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
}


@media (min-width: 370px) and (max-width: 380px){
    .custom-card{
        width: 22.5rem;
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
        /* height: 5vh; */
    }
    .about-card-sec3{
        width: 20rem !important;
    }
    .text-18{
        font-size: 13px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
}

@media (min-width: 390px) and (max-width: 400px){
    .custom-card{
        width: 22.5rem;
    }
    /* .sec-3-about{
    height: 00vh;
    } */
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
        /* height: 5vh; */
    }
    .top-220{
        top: 190%;
    }
    .about-card-sec3{
        width: 20rem !important;
        margin-top: 30%;
    }
    .text-18{
        font-size: 13px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 120vh;
        display: flex;
        align-items: center;
}
.row{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
.container{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
.container-fluid{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
}

@media (min-width: 400px) and (max-width: 420px){
    .custom-card{
        width: 22.5rem;
    }
    .top-220{
        top: 190%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
        /* height: 5vh; */
    }
    .about-card-sec3{
        width: 20rem !important;
        margin-top: 30%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 120vh;
        display: flex;
        align-items: center;
}
.row{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
.container{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
.container-fluid{
    --bs-gutter-x: 0;
--bs-gutter-y: 0;
}
}


@media (min-width: 421px) and (max-width: 450px){
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .custom-card{
        width: 22.5rem;
    }
    .top-220{
        top: 190%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 20rem !important;
        margin-top: 30%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 120vh;
        display: flex;
        align-items: center;
}
}

@media (min-width: 450px) and (max-width: 595px){
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .custom-card{
        width: 22.5rem;
    }
    .top-220{
        top: 190%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 20rem !important;
        margin-top: 30%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 120vh;
        display: flex;
        align-items: center;
}
}


/* surface duo */
@media (min-width: 500px) and (max-width: 570px){
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .custom-card{
        width: 22.5rem;
    }
    .top-220{
        top: 190%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 10px 20px 10px 20px
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 65px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 20rem !important;
        margin-top: 30%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 120vh;
        display: flex;
        align-items: center;
}
}

/* ipad */
@media (min-width: 760px) and (min-height: 1000px) and (max-width: 800px) and (max-height: 1030px){
    .custom-card{
        width: 25.5rem;
    }
    .about-sec-1 {
        height: 80vh
    }
    .text-30{
        font-size: 20px;
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 140%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 50vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 5%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 18px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 100vh;
        display: flex;
        align-items: center;
}
}
/* 2nd ipad */
@media (min-width: 760px) and (min-height: 710px) and (max-width: 800px) and (max-height: 750px){
    .custom-card{
        width: 25.5rem;
    }
    
    .text-30{
        font-size: 20px;
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 181%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 100vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 26%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 140vh;
        display: flex;
        align-items: center;
}
}
/* ipad air */
@media (min-width: 810px) and (min-height: 1100px) and (max-width: 850px) and (max-height: 1200px){
    .custom-card{
        width: 25.5rem;
    }
    .about-sec-1 {
        height: 70vh
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 123%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 45vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 26%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 80vh;
        display: flex;
        align-items: center;
}
.text-30{
    font-size: 25px;
}
}
/* mini laptop */
@media (min-width: 851px) and (min-height: 1250px) and (max-width: 900px) and (max-height: 1300px){
    .custom-card{
        width: 25.5rem;
    }
    .about-sec-1 {
        height: 70vh
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 123%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 50vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 26%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 80vh;
        display: flex;
        align-items: center;
}
.text-30{
    font-size: 25px;
}
}
/* surface pro 7 */
@media (min-width: 910px) and (min-height: 1350px) and (max-width: 950px) and (max-height: 1400px){
    .custom-card{
        width: 25.5rem;
    }
    .about-sec-1 {
        height: 70vh
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 123%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 50vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 26%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 10%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 80vh;
        display: flex;
        align-items: center;
}
.text-30{
    font-size: 25px;
}
}

/* large laptop */
@media (min-width: 1000px) and (min-height: 1000px) and (max-width: 1050px) and (max-height: 1100px){
   
    .custom-card{
        width: 25.5rem;
    }
    .about-sec-1 {
        height: 70vh
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 133%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 50vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 26%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 2%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 110vh;
        display: flex;
        align-items: center;
}
.text-30{
    font-size: 25px;
}
}

@media (min-width: 1000px) and (min-height: 1300px) and (max-width: 1050px) and (max-height: 1400px){
   
    .custom-card{
        width: 36.5rem;
    }
    .about-sec-1 {
        height: 52vh
    }
    .row{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .container-fluid{
        --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    }
    .top-220{
        top: 105%;
    }
    .text-80{
        font-size: 48px;
        text-align: center;
    }
    .about_us_heading{
        font-size: 80px;
    }
    .cust-padding{
        padding: 20px 20px 20px 20px;
    }
    .text-17{
        font-size: 15px;
    }
    .text-182{
        font-size: 100px;
    }
    .text_100{
        font-size: 40px;
    }
    #our_video{
        width: 100vw;
        height: 50vh;
    }
    .top_margin{
        margin-top: 80%;
    }
    .text_90{
        font-size: 52px;
    }
    .about-card-sec3{
        width: 35rem !important;
        margin-top: 3%;
    }
    .text-18{
        font-size: 15px;
    }
    .text-20{
        font-size: 16px;
    }
    .top_margin_30{
        margin-top: 2%;
    }
    .sec-3-about {
        background: #191919;
        z-index: 999;
        height: 80vh;
        display: flex;
        align-items: center;
}
.text-30{
    font-size: 25px;
}
}